$cyanColor: hsl(180, 66%, 49%);
$cyanActiveColor: hsl(179, 56%, 75%);
$secondaryColor: hsl(257, 27%, 26%);
$violetColor: hsl(257, 27%, 26%);
$linkColor: hsl(257, 7%, 63%); 
$textColor: hsl(0, 0%, 75%); 
$grayBackground: hsl(230, 25%, 95%);
$blackBackground: hsl(266, 10%, 14%);
$redColor: hsl(0, 87%, 67%);
$mainPadding: 20px;