*{
    box-sizing: border-box;
}

body{
    margin: 0;
    @include prefixer(box-sizing, border-box, webkit, moz, o);
}

.unstyled-list{
    list-style: none;
    padding: 0;
}

.unstyled-link{
    text-decoration: none;
}